$white: #fff;
$black: #000;
$yellow: #fdcc52;
$red: #da2431;
$purple: #7a4397;
$gray: #636363;
$dark-gray: #222222;

$link: $yellow; $link-hover: $white;
$button: $white; $button-hover: $yellow;

$heart: #dd4c39;
$twitter: #1d9cf0E6; $twitter-hover: #1D9BF0FF;
$facebook: #1877f2E6; $facebook-hover: #1877f2FF;
$gplus: #DD5144E6; $gplus-hover: #DD5144FF;