/* main elements */

body {
    color: #333333;
}

header {
    background-color: #333333;
    color: #efefef;
    padding: .2em;
    position: sticky;
    top: 0px;
}

header h1 {
    margin-left: 1em;
}

header a {
    color: inherit;
    text-decoration: none;
    padding: .5em;
    margin-right: .5em;
    border: 1px solid #efefef;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 1.5em;
    display: none;
}

nav {
    display: block;
    background-color: #efefef;
    margin-top: 2px;
}

main {
    margin: 1em;
    padding: 1em;
    background-color: #efefef;
}

section {
    background-color: #ffffff;
    margin-bottom: 1em;
}

section:last-child {
    margin-bottom: 0;
}

article {
    padding: .5em;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    margin-right: .5em;
    border: 1px solid #efefef;
    border-radius: 5px;
}

footer a:hover {
    border-color: #333333;
}


/* flex */

div.row {
    display: flex;
}

div.col-33 {
    flex: 33%;
    width: 33%;
}

div.col-66 {
    flex: 66%;
    width: 66%;
}

/* menu */

ul.menu {
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    margin-right: .5em;
    border: 1px solid #efefef;
    border-radius: 5px;
}

ul.menu li a:hover {
    border-color: #333333;
}

/* form */
div.input {
    margin-top: 1em;
}

div.input label {
    display: block;
    text-align: right;
    margin-right: 1em;
}

div.input textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 800px;
}

/* article styles */

article p {
    text-align: justify;
}

article.default p {
    text-indent: 2em;
}

article.default img.initial {
    float: left;
    max-width: 10em;
    max-height: 10em;
    margin-right: 1em;
}

article.default img.big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

article.cards div.card {
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    padding: .5em;
}

article.cards div.col {
    margin-right: .5em;
}

article.cards div.col:last-child {
    margin-right: 0;
}

article.cards p {
    margin: 0;
}

article.short {
    display: flex;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

article.short:last-child {
    margin-bottom: .5em;
}

article.short h4 {
    margin: 0;
}

article.short div.image img {
    width: 150px;
}

article.short div.image {
    flex: 150px;
    margin-right: 1em;
}

article.short div.content {
    flex: auto;
}

article.gallery div.col {
    margin: .5em;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    padding: .3em;
}

article.gallery div.col:first-child {
    margin-left: 0;
}

article.gallery div.col:last-child {
    margin-right: 0;
}

article.gallery div.col:empty {
    visibility: hidden;
}

article.gallery img {
    max-width: 100%;
}

article.gallery div.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

article.gallery div.wrapper img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}