@media only screen and (max-width: 600px) {
    header a {
        display: inline-block;
    }

    nav {
        position: absolute;
        right: 8px;
        top: 6em;
        display: none;
    }

    ul.menu li {
        display: block;
    }

    ul.menu li a {
        display: block;
    }

    /* flex */

    div.row {
        display: block;
    }

    div.col, div.col-3 {
        flex: none;
        width: auto;
    }

    /* articles */

    article.cards div.card {
        margin-right: 0;
        margin-bottom: .5em;
    }

    article.short {
        display: block;
    }

    article.short div.image {
        flex: none;
        margin-right: 0;
    }

    article.short div.image img {
        width: 100%;
    }

    article.gallery div.col {
        margin-left: 0;
        margin-right: 0;
    }

}